/*BARRA DE DECODIFICACIÓN LATERAL*/
textarea[name="codigo"] {
  resize: none;
  width: 100%;
}

.decode-container {
  position: sticky;
  top: 25%;

  background-color: rgb(60,60,60);
  border-radius: .5em;
  height: 20em;
  width: 50em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: transform 0.5s;
}

.desplazar {
  height: 100%;
  width: 7%;
  background-color: black;
  color: white;
}
.desplazar:hover{
  background-color: rgb(165,17,41);
}

.show {
  transform: translateX(70%);
  margin-right: 27em;
}

.hide {
  transform: translateX(-47%);
}


.decode-form {
  background-color: rgb(60,60,60);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.form-group {
  background-color: rgb(165, 17, 41);
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  color: white;
  text-align: center;

}

.boton-decoder{
  background-color: rgb(0, 100, 150);
  color: white;
}

/*ESTILOS NAVBAR VERTICAL Y HORIZONTAL*/
body {
  background-color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar img{
  width: 80px;
  height: auto;
  margin: 10px 0 10px 0
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.navbar-link:first-child {
  margin-left: 3em;
}

.navbar-link:last-child {
  margin-right: 3em;
}

.vertical-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.vertical-nav-link {
  color: white;
  text-decoration: none;
  margin: 0;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
}

button>img{
  height: 35px;
  width: auto;
}

/* CONJUNTO DE BACKGROUNDS */
body{
  background-color: black;
}
.background1 {
  background-image: url(img/background/bg_pc.png);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  margin-bottom: 5vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background1>h1,h2{
  color:white
}

.chevron{
  position: absolute;
  bottom: 3em;
}
.chevron>img{
  height: 50px;
  width: auto;
}

h2{
  position: absolute;
  bottom: 3em;
}
.background {
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.background2 {
  background-image: url(img/background/bg_circle.png);
  margin-bottom: 5vh;

}

.background3 {
  background-image: url(img/background/bg_person.jpeg);

}

.background4 {
  background-image: url(img/background/bg_bicicle.jpg);
  margin-top: 8em;
  margin-bottom: 8em;
}

.background5 {
  background-image: url(img/background/bg_building.png);
}

/* CARDS */

.card {
  width: 40em;
  background-color: rgba(60, 60, 60, 0.5);
  color: white;
}

.card > div > h5 {
  color: rgb(165, 17, 41);
}

.text-to-copy {
  border: solid black 2px;
  padding: 1em;
  box-sizing: border-box;
  max-width: 40em;
  max-height: 20em;
  overflow: auto;
  border-radius: 5px;
}

.container-text-to-copy {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.copy-button {
  background-color: rgb(165, 17, 41);
  color: white;
}

.all_cards {
  display: flex;
  justify-content: space-between;
}

/* LINKS AND HOVERS */

/* unvisited link */
a:link {
  color: rgb(165, 17, 41);
}
/* visited link */
a:visited {
  color: rgb(165, 17, 41);
}
/* mouse over link */
a:hover {
  color: white;
}
/* selected link */
a:active {
  color: rgb(165, 17, 41);
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgb(165, 17, 41);
}
::selection {
  color: white;
  background: rgb(165, 17, 41);
}

/* FOOTER */

footer {
  background-color: rgb(165, 17, 41);
}

#footer_text {
  background-color: rgba(0, 0, 0, 0.2);
}

footer > div > section > a > img {
  width: 30px;
  height: auto;
}
